#titulo {
  text-align: center;
  margin-bottom: 30px;
}

#titulo h1 {
  font-size: 2.5em;
  margin: 0;
  color: #ffd700;
  text-shadow: 0 0 8px #ff4b5c;
}

#titulo h2 {
  font-size: 1.5em;
  margin: 5px 0 0 0;
  color: #ff4b5c;
  font-weight: normal;
}
